.menu-body {
    overflow: initial;
}
.menu {
    width: 80%;
    max-width: 600px;
    height: 70vh;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 3px rgba(white, .35);
    color: black;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url(../assets/images/christmas-bg.jpg) center/cover no-repeat;
    h1 {
        text-align: center;
        font-size: 50px;
        color: #BF9113;
    }
    h2 {
        font-size: 32px;
    } 
    p {
        font-size: 24px;
        margin: 0 20%;
        @media screen and (max-width: 576px) {
            margin: 0;
        }
    }
    img.qr-code {
        object-fit: initial;
	    animation: none;
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        mask: initial;
    }
}