body.menu-body {
  background: radial-gradient(at top, #12313b, #000822);
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: initial;
}

canvas {
  position: absolute;
}
